<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(<%=
  if @list.photo.attached?
    cl_image_path @list.photo.key
  else
    image_path("placeholder-image.jpg")
  end
   %>)">

  <div class="btn-top-right btn btn-success rounded-4">Movies: <%= @list.bookmarks.count %></div>
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container">
  <div class="row my-4">
    <div class="col-8">
      <div class="row">
         <% @bookmarks.each do |bookmark| %>
        <div class="col-12 col-md-6 mb-4">
            <div class="card h-100 rounded-4 shadow-sm">
              <img src="<%= bookmark.movie.poster_url %>" class="card-img-top rounded-top-4" alt="movie poster">
              <div class="card-body d-flex flex-column justify-content-between">
                <div>
                  <h5 class="card-title h4"><%= bookmark.movie.title %></h5>
                  <p class="card-text"><%= bookmark.movie.overview %></p>
                  <p class="card-text"><%= bookmark.movie.rating.round %></p>
                  <p class="card-text">"<%= bookmark.comment %>"</p>
                </div>
                <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-danger rounded-4 mt-3" %>
              </div>
            </div>
        </div>
      <% end %>
      </div>
    </div>
    <div class="col-4">
      <div class="card rounded-4 shadow-sm p-4 sticky">
        <h4>Add a new movie</h4>
        <%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.association :movie, as: :select %>
          <%= f.input :comment %>
          <%= f.button :submit, class: 'btn btn-success rounded-4' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-8">
      <h3 class="mb-3">Reviews</h3>
      <% @list.reviews.each do |review| %>
        <p class="lead mb-1"><%= review.content %> <%= review.rating %>/5</p>
        <hr class="my-3">
      <% end %>
    </div>
    <div class="col-4">
      <div class="card rounded-4 shadow-sm p-4">
        <h4>Add a review</h4>
        <%= simple_form_for [@list, @review] do |f| %>
          <%= f.input :content %>
          <%= f.input :rating %>
          <%= f.button :submit, class: 'btn btn-success rounded-4' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
