<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <%= link_to lists_path do %>
        <i class="fa-solid fa-film fs-2"></i>
      <% end %>
      <div class="d-flex">
        <%= link_to "My Lists", lists_path, class:"nav-link me-4" %>
        <%= link_to "Add List", new_list_path, class:"nav-link" %>
      </div>
    </div>
  </nav>

    <%= yield %>
  </body>
</html>
